.checkout {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  min-height: 100vh;
  padding: 4rem;
  background-color: white;
}

.checkout__info {
  background-color: #e5e5e5;
  padding: 4rem;
  color: black;
  font-weight: 500;
  font-size: 4rem;
}

.item__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}
